@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
nav{
    width: fit-content;
    height: 80px;
    width: 100%;
    background: #232427;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    align-items: center;
    float: right;
    margin-right: 40px;
}
nav li{
    color: white;
    width: fit-content;
    align-items: center;
    position: relative;
    right: 750px;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
nav a{
    width: fit-content;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}               
a.active,a:hover{
    width: fit-content;
    border: 1px solid white;
    transition: .5s;  
}
nav #icon{
    width: fit-content;
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
@media (max-width: 1048px){
    label.logo{
        font-size: 32px;
        padding-left: 60px;
    }
    nav ul{ 
      margin-right: 20px;  
    }
    nav a{
       font-size: 17px; 
    }
    nav #icon{
        display: none;
    }
}
@media (max-width: 909px){
    nav #icon{
        display: none; 
    }

    nav ul{
        width: fit-content;
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #232427;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav li {
        width: fit-content;
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav a{
        width: fit-content;
       font-size: 20px; 
    }
    a.active,a:hover{
        width: fit-content;
        border: none;
        color: #3498db;
    }
    nav ul.show{
        width: fit-content;
        left: 0;
    }
}

