
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fefefe;
    font-family: sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 20%;
    background: rgb(36, 36, 36);
    border: 1px solid rgba(21, 21, 21, 0.364);
    margin-bottom: 50px;
    transition: 0.3s;
  }
  
  .card-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(to right, #2e2e30, #5a5a5a);
    color: #fff;
  }
  
  .card-body {
      color: white;
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #2e2e30, #5a5a5a);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }

  body {
    background-image: url('https://wallpaperaccess.com/full/1860753.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
  }

  .img{    
      position: relative;
    top: -10px;
    text-align: center;

  }
