
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
    font-family: sans-serif;
  }
  
  .container {
    width: 90%;
    margin: 50px auto;
  }
  .heading {
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
  }
  
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
  }
  
  .card {
    width: 20%;
    background: rgb(251, 252, 255);
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
  }
  
  .card-header {
    text-align: center;
    padding: 20px 5px;
    background: linear-gradient(to right, #000E2B, #005EFE);
    color: #fff;
  }
  
  .card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
  }
  
  .card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #000E2B, #005EFE);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }
